name: golangci-lint
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


permissions: {}

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6.0.0
        with:
          version: v2.0.2
          args: --verbose
